/* home.scss */

@use "../base" as *;
@use "../components" as *;

.hero {
    text-align: center;

    &__image-wrapper {
        width: 100%;
        overflow: hidden;
    }

    &__image {
        width: 100%;
        height: 496px;
        object-fit: cover;

        @include mobile {
            height: 277px;
        }
    }

    &__category-buttons {
        @include flex-center;
        margin: -89px 70px 0 70px;

        @include mobile {
            margin: 0;
        }
    }

    &__button {
        @include flex-center;
        width: 100%;
        height: 256px;
        border: $color-white solid 1px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: transform 0.3s ease, filter 0.3s ease;

        @include mobile {
            height: 180px;
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background-color: rgba(red($color-primary), green($color-primary), blue($color-primary), 0.8);
            pointer-events: none;
            transition: opacity 0.3s ease;
            z-index: 1;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
        }

        p {
            position: relative;
            z-index: 3;
            color: $color-white;
            writing-mode: vertical-rl;
            text-orientation: upright;
            font: normal normal 600 24px/30px $font-primary;
        }

        &:hover {
            transform: scale(1.05);
            filter: brightness(1.05);
            z-index: 2;

            &::before {
                background-color: rgba(red($color-primary-light), green($color-primary-light), blue($color-primary-light), 0.8);
            }

            p {
                color: $color-primary;
            }
        }

        &:active {
            transform: scale(1.05);
            filter: brightness(1.05);
            z-index: 2;

            &::before {
                background-color: rgba(red($color-primary-light), green($color-primary-light), blue($color-primary-light), 0.8);
            }

            p {
                color: $color-primary;
            }
        }

        &--daily {
            background-image: url("../img/home/btn-daily.avif");

        }

        &--popular {
            background-image: url("../img/home/btn-popular.avif");
        }

        &--new {
            background-image: url("../img/home/btn-new.avif");
        }
    }
}

.section-why-choose {
    display: flex;
    flex-direction: column;

    &__group {
        background-color: $color-secondary-light;
        position: relative;
        left: 50%;
        right: 50%;
        width: 100vw;
        margin-left: -50vw;
        margin-right: -50vw;
        margin-top: 80px;

        @include mobile {
            margin-top: 0;
        }

        &--inner {
            @include flex-between;
            align-items: stretch;
            max-width: 940px;
            margin: -20px auto;

            @include mobile {
                flex-direction: column;
                height: auto;
                margin: 0px;
            }

        }

        &:nth-of-type(4) {
            .section-why-choose__group--inner {
                flex-direction: row-reverse;

                @include mobile {
                    flex-direction: column;
                    height: auto;
                    margin: 0px;
                }
            }
        }
    }

    &__text {
        @include flex-between;
        align-items: stretch;
        flex-direction: row-reverse;
        gap: 80px;

        @include mobile {
            margin: 30px;
        }
    }

    &__title {
        img {
            width: 90px;
            height: auto;
        }

        @include mobile {
            display: none;
        }
    }


    &__description {
        @include flex-center;

        @include mobile {
            height: auto;
        }

        p {
            color: $color-secondary;
            writing-mode: vertical-rl;
            text-orientation: upright;
            font: normal normal 300 16px/40px $font-primary;
            letter-spacing: 0px;
            color: $color-secondary;
            max-height: 280px;

            @include mobile {
                writing-mode: horizontal-tb;
                text-orientation: sideways;
                max-height: none
            }
        }
    }


    &__image {
        @include flex-center;

        @include mobile {
            display: block;
            margin: 0;
            width: 100%;
        }

        img {
            width: 100%;
            max-width: 460px;
            aspect-ratio: 1 / 1;
            object-fit: cover;

            @include mobile {
                height: 250px;
                aspect-ratio: auto;
                position: relative;
                left: 50%;
                right: 50%;
                width: 100vw;
                margin-left: -50vw;
                margin-right: -50vw;
                max-width: none;
            }
        }
    }

    &__text-only--lg {
        display: flex;
        justify-content: center;
        margin-top: 95px;
        margin-bottom: 20px;

        img {
            width: 100%;
            max-width: 90px;
            height: auto;
        }

        @include mobile {
            display: none;
        }
    }

    &__text-only--sm {
        display: none;

        @include mobile {
            display: flex;
            justify-content: center;
            margin: 30px auto;

            img {
                width: 100%;
                min-width: 196px;
                height: auto;
            }
        }
    }
}

.section-products {
    width: 100%;
    margin: 60px auto;

    @include mobile {
        margin-top: 0;
        margin-bottom: 30px;
    }

    &__list {
        @include flex-center;
        gap: 20px;
        flex-wrap: wrap;
        margin: 0 auto;

        @include mobile {
            flex-direction: column;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;

        @include mobile {
            width: 315px;
        }
    }

    &__image {
        position: relative;
        width: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: 315px;
            object-fit: cover;
            display: block;
            transition: transform 0.3s ease;

            .section-products__item:hover & {
                transform: scale(1.05);
            }
        }
    }

    &__badge {
        position: absolute;
        top: 0px;
        left: 20px;
        background-color: $color-primary;
        color: $color-secondary-light;
        font: normal normal 600 16px/20px $font-primary;
        writing-mode: vertical-rl;
        text-orientation: upright;
        padding: 10px;
        letter-spacing: 0px;
        z-index: 2;
    }

    &__fav {
        @include flex-center;
        position: absolute;
        top: 19px;
        right: 22px;
        width: 20px;
        height: 20px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
        z-index: 2;
        background-color: transparent;

        img {
            width: 20px;
            height: 20px;
            transition: filter 0.3s ease;
        }

        &:hover {
            transform: scale(1.1);
        }
    }


    &__info {
        @include flex-between;
        width: 100%;
        height: 56px;
        border: $color-secondary-light solid 1px;
        padding: 14px 0;

        .section-products__name {
            font: normal normal 300 20px/20px $font-primary;
            color: $color-primary;
            letter-spacing: 0px;
            margin-left: 33px;
        }

        .section-products__price {
            font: normal normal 600 20px/24px $font-primary;
            color: $color-primary;
            letter-spacing: 0px;
            margin-right: 20px;
        }
    }

    &__action {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__btn {
        @include flex-center;
        width: 100%;
        height: 65px;
        border: none;
        background-color: $color-secondary-light;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;

        &:hover {
            transform: scale(1.03);
        }

        p {
            margin: 0;
            font: normal normal 600 24px/20px $font-primary;
            color: $color-primary;
        }
    }
}