// variable.scss

// 色彩系統
$color-white: #FFFFFF;
$color-primary-light: #FFE180;
$color-primary: #3F5D45;
$color-secondary-light: #EAF0ED;
$color-secondary: #8DA291;

// 字體設定
$font-primary: 'PingFang TC', 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
$font-secondary: 'Helvetica Neue', 'Arial', 'Noto Sans', sans-serif;
$font-serif: 'Times', 'Times New Roman', serif;